h1 {
    text-align: center;
}

.content {
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
}


@media (max-width: 768px) {
    .content {
        background-color: lightcoral;
        padding: 10px;
        margin: 10px;
    }
}


@media (max-width: 480px) {
    .content {
        background-color: lightgreen;
    }
}
